#btn {
  border: 2px solid black;
  margin: 5px;
  transition: 0.50s ease;
  -webkit-transition: 0.50s ease;
  -moz-transition: 0.50s ease;
  -ms-transition: 0.50s ease;
  -o-transition: 0.50s ease;
  border-radius: 20%;
}

#btn:hover {
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}
[data-bs-theme=dark] #btn {
  background-color: black
}
[data-bs-theme=dark] #btn:hover {
  background-color: rgb(75, 73, 70)
}
[data-bs-theme=light] #btn:hover {
  background-color: rgb(161, 158, 154)
}