#Btn {
  padding: 10px;
  text-decoration: none;
  transition: 0.5s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  background-color: #ffffff;
  border: 0px;
  border-radius: 30%;
  -webkit-border-radius: 30%;
  -moz-border-radius: 30%;
  -ms-border-radius: 30%;
  -o-border-radius: 30%;
}

#Btn:hover {
  color: white;
  background-color: #052604;
  border-radius: 20%;
  filter: drop-shadow(10px 10px 50px #132713);
}

#Btn.active {
  background-color: black;
  color: white;
}

#Btn.active:hover {
  background-color: rgb(131, 128, 128);
  color: white;
  border-radius: 20%;
}

#BtnProfile {
  display: contents;
}

#BtnProfile.active {
  display: contents;
}